{% load humanize %}
<!-- This tab is dynamically populated using JS and Hypixel resources -->

<div id="questsError" class="hidden">
    {% include "stats/components/error.html" with tab="quests" %}
</div>

<div id="questsContainer" class="wrappedFlex">
    <div class="evenFlex">
        <h2>Quests</h2>
        <br>
        <p><b>Quests Completed:</b> {{ player.stats.general.quests.completed|intcomma }}</p>
        <h3>Click on a mode below to view completions</h3>
        <br>
        <p><b>Most Quests</b>:</b> <span id="questsMainMode"></span></p>
        <div class="generalSelectionContainer">
            <div id="placeHolderContainerQuests"></div>
        </div>
    </div>
    <div class="generalModeSelectionContainer">
        <div class="wrappedFlex">
            <h2 id="questsModeTitle"></h2>
            <p class="generalModeCompletionsContainer">(<b id="questsModeCompletions"></b> <span id="questCompletionsCompletions"></span>)</p>
        </div>
        <div class="generalDescriptionContainer">
            <h3>Click on a quest below to view details</h3>
            <br>
            <p><b id="questsQuestTitle">Quest Title</b></p>
            <p id="questsQuestDescription">Quest Description</p>
            <p><b id="questsQuestRewards">Quest Rewards</b></p>
        </div>
        <div class="generalModeSelection">
            <div id="placeHolderContainerQuestsGame"></div>
        </div>
    </div>
</div>