{% load tags_main %}
{% load humanize %}
{% load static %}

{% spaceless %}

{% comment %}

{
    "head": [
        "Mode", "Wins", etc.
    ],
    "rows": [
        ["Solo", 999, etc.],
        etc.
    ]

    "boldRows": [1, 2, etc.],
    "boldCols": [1, 2, etc.],

    "percent": [3, etc.],
    "duration": [6, etc.],

    "green": {
        3: 1,
        6: 5,
        etc.
    },

    "divider": [4, etc.],

    "buttons": {
        "W/L": [2, 3, 4, etc.],
        "K/D": [5, 6, 7, etc.],
        etc.
    }
}

{% endcomment %}

{% comment %} Buttons {% endcomment %}
{% if table.buttons %}
    <div class="tableButtons noSelect">
        {% for button, cols in table.buttons.items %}
            <button class="tableButton" onclick="toggleColumns('{{ table.id }}', {{ cols }})">{{ button }}</button>
        {% endfor %}
        <button class="tableButton" onclick="showAllColumns('{{ table.id }}')">All</button>
    </div>
{% endif %}

{% comment %} Table {% endcomment %}
<table 
    id="{{ table.id }}"
    class="table"
    {% if table.width %}
        style="max-width: {{ table.width }}px;"
    {% endif %}
>

    {% comment %} Header {% endcomment %}
    {% for th in table.head %}

        {% comment %} Col Number {% endcomment %}
        {% with col=forloop.counter0 %}

            {% comment %} Col Attributes {% endcomment %}
            <th 
                {% if col in table.percent %}
                    class="pointer" onclick="togglePercent('{{ table.id }}', {{ col }})"
                {% endif %}
            >
                {{ th }} {% if col in table.percent %}(%){% endif %}
            </th>

        {% endwith %}

    {% endfor %}
    
    {% comment %} Rows {% endcomment %}
    {% for tr in table.rows %}

        {% comment %} Row Number {% endcomment %}
        {% with row=forloop.counter %}

            {% comment %} Divider Row {% endcomment %}
            {% if row in table.divider %}
                <tr>
                    {% for td in tr %}
                    
                            {% if forloop.first %}
                                <th>{{ table.divider|get_item:row }}</th>
                            {% else %}
                                <th></th>
                            {% endif %}
                        
                    {% endfor %}
                </tr>
            {% endif %}

            {% comment %} Row Elements (including bold styling) {% endcomment %}
            <tr {% if row in table.boldRows %}class="bold"{% endif %}>

                {% for td in tr %}

                    {% comment %} Col Number {% endcomment %}
                    {% with col=forloop.counter0 %}

                        {% comment %} Data Elements (including green and bold values) {% endcomment %}
                        <td class="
                            {% if td >= table.green|get_item:col %}
                                darkGreen
                            {% endif %}

                            {% if col in table.boldCols %}
                                bold
                            {% endif %}"
                        >

                            {% comment %} Green Values {% endcomment %}
                            {% if table.green and table.green|get_item:col %}
                                {{ td|floatformat:3 }}

                            {% comment %} Percent Values {% endcomment %}
                            {% elif col in table.percent %}
                                {{ td|floatformat:3 }}

                            {% comment %} Decimal Values {% endcomment %}
                            {% elif col in table.decimal %}
                                {{ td|floatformat:3 }}

                            {% comment %} Duration Values {% endcomment %}
                            {% elif col in table.duration %}
                                {{ td|format_duration }}

                            {% comment %} Standard Values {% endcomment %}
                            {% else %}
                                {{ td|intcomma|safe }}
                            {% endif %}

                        </td>

                    {% endwith %}

                {% endfor %}

            </tr>

        {% endwith %}

    {% endfor %}

</table>
    
{% endspaceless %}

<script type="text/javascript" src="{% static 'stats/components/table.js' %}"></script>

{% if table.buttons %}
    <script>
        {% comment %} Create a MediaQueryList object {% endcomment %}
        var mobileWidth = window.matchMedia("(max-width: 560px)");
        var tableCols = {% for button, cols in table.buttons.items %}{% if forloop.first %}{{ cols }}{% endif %}{% endfor %};

        {% comment %} Call listener function at run time {% endcomment %}
        mobileColumns(mobileWidth, '{{ table.id }}', tableCols);

        {% comment %} Attach listener function on state changes {% endcomment %}
        mobileWidth.addEventListener("change", function() {
            mobileColumns(mobileWidth, '{{ table.id }}', tableCols);
        });
    </script>
{% endif %}