/*============================================================================*/
/* GENERAL STYLING
/*============================================================================*/

/* Load Animation */
#main {
  visibility: none;
  opacity: 0;
  transition: all 0.2s;
}

/* tabbedStatsElement */
#tabbedStatsElement {
  border-radius: 15px;
  transition: border-radius 0.2s, box-shadow 0.2s;
}

.tabbedStatsElementModesSelected {
  border-radius: 15px 0px 15px 15px;
}

/* statsHeader */
#statsHeader {
  border-radius: 15px;
}

/*============================================================================*/
/* TAB NAVIGATION
/*============================================================================*/

#navTabBar {
  transition: border-radius 0.2s;
}

.navTabBar div {
  display: none;
}

.navTabBarModesSelected {
  border-radius: 15px 0px 0px 0px !important;
}

#navTabs {
  border-radius: 0px 0px 15px 15px;
}

#navSubTabs {
  margin-top: 16px;
}

.navTabContainer {
  transition: 0.3s;
  padding: 16px;
  display: none;
}

.navTab {
  display: none;
}

.navTabSelected {
  display: block !important;
}

.navTabBar {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px 15px 0px 0px;
}

.navTabBarThin {
  padding: 2px;
  border-radius: 10px;
}

.navTabButton {
  font-size: 18px;
  background: none;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  margin: 5px;
  font-family: "Maven Pro", sans-serif;
  width: auto;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s, font-weight 0.2s;
}

.navTabButton:hover {
  color: #ffffff80;
}

/*============================================================================*/
/* TABLE
/*============================================================================*/

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}

.table th {
  color: #fff;
  padding: 8px;
  font-size: 18px;
  text-align: left;
  background-color: #2a3142;
}

.table tr {
  background-color: #fff;
}

.table td {
  padding: 8px;
  font-size: 16px;
  border: 1px solid;
}

.tableButton {
  font-size: 18px;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  border: none;
  font-family: "Maven Pro", sans-serif;
  width: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 6px;
  height: 30px;
  transition: background-color 0.2s;
}

.tableButton:hover {
  background-color: #444;
}

.tableButtons {
  display: none;
}

/*============================================================================*/
/* PLACEHOLDER
/*============================================================================*/

.placeHolder {
  border: 3px solid;
  padding: 10px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.placeHolder:last-child {
  margin-bottom: 0px;
}

.placeHolderContainer4 {
  overflow-y: scroll;
  max-height: 218px;
}

.placeHolderContainer5 {
  overflow-y: scroll;
  max-height: 275px;
}

/*============================================================================*/
/* SCROLL ROW
/*============================================================================*/

.scrollRow {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.scrollRow > div {
  flex: 1;
}

/*============================================================================*/
/* MAIN STATS
/*============================================================================*/

.stats {
  display: flex;
  flex-wrap: wrap;
}

.mainStatsSelected {
  display: flex !important;
  flex-wrap: wrap;
}

.mainStats {
  display: none;
}

.showingMore {
  max-height: 1000px !important;
}

.block {
  margin-top: 21px;
}

.emptyBlock {
  margin-top: 0px !important;
}

.showMoreButton {
  font-size: 18px;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  border: none;
  font-family: "Maven Pro", sans-serif;
  width: 112px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

#showMoreUpper {
  margin-top: 5px;
}

#showMoreLower {
  margin-top: 15px;
}

.showMoreButton:hover {
  background-color: #444444;
}

/*============================================================================*/
/* MORE STATS
/*============================================================================*/

.moreStatsContainer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s;
}

.moreStats {
  display: none;
}

.moreStatsSelected {
  display: flex !important;
  flex-wrap: wrap;
}

/*============================================================================*/
/* GENERAL STATS
/*============================================================================*/

/* Main Stats */
.copyContainer {
  display: inline;
}

.uuid {
  font-size: 12px;
}

.lostEmoji {
  margin-left: 24px;
  width: 80px;
  height: 80px;
}

#levelCalcLinkGeneral {
  font-size: 16px;
}

#barGeneralLevel {
  margin-top: 26px;
}

#barGeneralMilestone {
  margin-top: 15px;
  margin-bottom: 4px;
}

/* Pill Navigation */
.pillSelected {
  border-radius: 8px;
  padding: 5px 8px 5px 8px;
}

.pill {
  font-weight: bold;
  transition: 0.2s;
}

/* Quests/Challenges/Achievements */
.generalDescriptionContainer {
  margin-bottom: 21px;
}

#achievementsDescriptionContainer {
  margin-top: 21px;
  height: 57px;
}

.questsReward {
  margin-right: 8px;
}

.generalModeCompletionsContainer {
  margin-left: 8px;
  margin-top: 4px;
}

.generalSelectionContainer {
  flex: 1;
  overflow-y: scroll;
  max-height: 218px;
  margin-top: 21px;
}

.generalModeSelection {
  overflow-y: scroll;
  max-height: 218px;
  margin-top: 7px;
}

.generalModeSelectionContainer {
  flex: 2;
  margin-left: 24px;
}

#achievementsSelection {
  flex: 1;
  overflow-y: scroll;
  max-height: 560px;
  margin-top: 9px;
}

#achievementsModeCompletionsContainer {
  margin-left: 8px;
  margin-top: 6px;
}

#achievementsFilterContainer {
  margin-top: 8px;
}

#achievementsDash {
  margin: 0px 12px;
}

#achievementsModeSelection {
  overflow-y: scroll;
  max-height: 560px;
  margin-top: 7px;
}

/* Parkour */
.parkourCheckpointsTitle {
  margin-bottom: 15px;
}

#parkourModeSelection {
  overflow-y: scroll;
  max-height: 332px;
}

/* Pets */
#totalPetItems {
  margin-top: 9px;
}

#petsOwned {
  max-height: 378px;
  overflow-y: scroll;
}

/* History */
#generalHistoryNameContainer {
  flex: 1;
  padding-right: 48px;
}

#generalHistoryRankContainer {
  flex: 1;
}

/* Socials */
#socialsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 156px;
}

.socialImageContainer {
  width: 64px;
  text-align: center;
  position: relative;
}

.socialImage {
  max-height: 32px;
  max-width: 32px;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.socialTextContainer,
#discordCopyConfirmation {
  line-height: 51px;
  text-decoration: none;
}

.socialTextContainer a {
  transition: opacity 0.2s;
}

.socialTextContainer a:hover {
  opacity: 0.6;
}

/* Recent Games */
#recentGamesContainer {
  overflow-y: scroll;
  max-height: 294px;
  min-height: 155px;
}

#noRecentGamesImage {
  margin-left: 24px;
}

/*============================================================================*/
/* BEDWARS STATS
/*============================================================================*/

.practiceModeBlock {
  flex: 1;
  min-width: 250px;
}

.levelCalcLinkContainer {
  position: relative;
  bottom: 2px;
}

/*============================================================================*/
/* SKYWARS STATS
/*============================================================================*/

/* Angel's Descent */
#opalBarContainer {
  max-width: 262px;
}

#angelsDescentText {
  flex: 1;
  min-width: 400px;
  margin-bottom: 19px;
}

#angelsDescentInventory {
  flex: 2;
  min-width: 280px;
}

#kit_basic_solo_archeologist {
  top: -200px;
}

#telekinesis,
#cage_balancing_act,
#fallen_angel_kit {
  top: -50px;
}

.inventoryContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.inventory {
  width: 252px;
  background: #c6c6c6;
  border-radius: 3px;
  box-shadow: 5px 5px 0px #555555, inset 4px 4px 0px #fefefe;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.slotContainer {
  margin: 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.number {
  font-family: "VT323", monospace;
  font-size: 24px;
  color: #fefefe;
  position: relative;
  text-shadow: #333 1px 2px 1px;
  top: -16px;
  right: -8px;
  cursor: default;
}

.slot {
  width: 32px;
  height: 32px;
  padding-right: 1px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  background: #8b8b8b;
  box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8),
    inset -2px -2px 0px #ffffff;
}

.breweryPotion .slot {
  padding-right: 3px;
  padding-bottom: 3px;
}

.invisible {
  visibility: hidden;
}

.slot {
  position: relative;
  display: inline-block;
}

.slot .itemText {
  visibility: hidden;
  background: rgb(10, 10, 10, 0.95);
  color: #fff;
  max-width: auto;
  border-radius: 3px;
  border: 2px solid #0000aa;
  box-shadow: inset 5px #555555;
  padding: 3px 5px;
  font-family: "Minecraftia";
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.slot:hover .itemText {
  visibility: visible;
  pointer-events: none;
}

.item {
  cursor: pointer;
}

.item img {
  width: 32px;
  height: 32px;
}

.itemLocked {
  background-color: rgba(170, 00, 00, 0.3);
}

/* Angel of Death */
.angelOfDeathRow {
  padding: 0px !important;
  height: 27px;
  line-height: 27px;
}

/* Heads */
#headTextContainer {
  min-width: 200px;
}

#headInfoContainer {
  text-align: center;
}

/* Angel's Brewery */
#brewery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 12px;
  row-gap: 36px;
}

.breweryPotion {
  text-align: center;
}

.breweryPotionTitle {
  height: calc(1.5em * 2);
}

.breweryPotion .itemText {
  text-align: left;
}

/* Kits */
.kitPrestigeRow {
  height: 34px;
  line-height: 34px;
  padding: 0px 0px 0px 10px !important;
}

#kitPrestigeHeaderRow {
  color: white;
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
}

/* Legacy */
#rankedRewardsContainer {
  margin-right: 50px;
  margin-top: 6px;
}

#rankedRewardsLeft {
  flex: 4;
  display: flex;
  height: 100%;
}

.rewardsTitle {
  font-size: 18px;
  margin-bottom: 5px;
}

#rewardsGold {
  border-radius: 15px;
  border: 3px solid;
  height: 96px;
  padding: 12px;
}

#rewardsMasters {
  flex: 1;
  border-radius: 15px;
  border: 3px solid;
  margin-top: 13px;
  height: 96px;
  padding: 12px;
}

#rewardsDiamond {
  flex: 3;
  border-radius: 15px;
  border: 3px solid;
  margin-left: 12px;
  padding: 12px;
}

#rewardsDiamond p {
  margin-bottom: 1px;
}

#rewardsDiamondBreak {
  height: 3px;
}

#rankedHistory {
  flex: 2;
  overflow-y: scroll;
  max-height: 450px;
}

/*============================================================================*/
/* MODES
/*============================================================================*/

#warlordsWeaponsLeft {
  overflow-y: scroll;
  max-height: 213px;
  margin: 21px 21px 0px 0px;
}

.divider {
  display: flex;
  flex-direction: row;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
}

.divider:before {
  margin-right: 10px;
}

.divider:after {
  margin-left: 10px;
}

/*============================================================================*/
/* MEDIA QUERIES
/*============================================================================*/

@media only screen and (max-width: 560px) {
  #gameTitleBlock,
  #showMoreBlock {
    flex: 100%;
  }
  #supporterBio {
    flex: 100%;
  }
  .oneLine,
  .twoLines {
    margin-top: 16px;
  }
  .block {
    flex: 100%;
  }
  #showMoreUpper {
    display: none;
  }
  #showMoreLower {
    display: block;
  }
  .barProgressNumbers {
    display: none;
  }
  .tableButtons {
    display: block;
  }
  .generalModeSelectionContainer {
    margin-top: 24px;
    margin-left: 0px;
  }
  #questsContainer,
  #challengesContainer,
  #achievementsContainer,
  #parkourContainer,
  #generalHistoryContainer,
  #petsContainer,
  #petItemsContainer {
    display: block;
  }
  #achievementsModeTitleContainer, #achievementsFilterContainer {
    display: block;
  }
  #achievementsModeCompletionsContainer {
    margin-left: 0px;
  }
  #achievementsDash {
    display: none;
  }
  #achievementsMinimisedExpandedContainer {
    margin-top: 24px;
  }
  #petsOwnedContainer {
    margin-top: 24px;
  }
  #generalHistoryNameContainer {
    padding: 0px;
    margin-bottom: 16px;
  }
  #socialsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #brewery {
    grid-template-columns: 1fr;
  }
  #brewery > div {
    grid-column: span 1;
  }
  .breweryPotionTitle {
    height: auto;
  }
  #aodContainer,
  #rankedContainer,
  #rankedRewardsContainer {
    display: block;
  }
  #aodCostsContainer,
  #rankedRight {
    margin-top: 24px;
  }
  #headInfoContainer {
    display: none;
  }
  #rankedRewardsContainer {
    margin-right: 0px;
  }
  #rewardsDiamond {
    margin-left: 0px;
    margin-top: 13px;
  }
  #warlordsWeaponsContainer {
    display: block;
  }
}

@media only screen and (min-width: 561px) and (max-width: 1030px) {
  #gameTitleBlock,
  #showMoreBlock {
    flex: 50%;
  }
  #supporterBio {
    flex: 100%;
  }
  .oneLine,
  .twoLines {
    margin-top: 16px;
  }
  .block {
    flex: 50%;
  }
  #showMoreUpper {
    display: block;
  }
  #showMoreLower {
    display: none;
  }
  #generalHistoryContainer {
    display: block;
  }
  #generalHistoryNameContainer {
    padding: 0px;
    margin-bottom: 16px;
  }
  #socialsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #brewery {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #brewery > :nth-child(1),
  #brewery > :nth-child(2),
  #brewery > :nth-child(3) {
    grid-column: span 4 / span 4;
  }
  #brewery > :nth-child(4),
  #brewery > :nth-child(5),
  #brewery > :nth-child(6),
  #brewery > :nth-child(7) {
    grid-column: span 3 / span 3;
  }
  .breweryPotionTitle {
    height: auto;
  }
  #aodContainer,
  #rankedContainer {
    display: block;
  }
  #aodCostsContainer,
  #rankedRight {
    margin-top: 24px;
  }
  #rankedRewardsContainer {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1030px) {
  #gameTitleBlock,
  #showMoreBlock {
    flex: 25%;
  }
  #supporterBio {
    flex: 50%;
  }
  .oneLine {
    margin-top: 12px;
  }
  .twoLines {
    margin-top: 0px;
  }
  .block {
    flex: 25%;
  }
  #showMoreUpper {
    display: block;
  }
  #showMoreLower {
    display: none;
  }
}
