/*============================================================================*/
/* GENERIC STYLING CUSTOMISATIONS
/*============================================================================*/

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Typography */
h1 {
  color: #fff;
  font-size: 25px;
}
h2 {
  color: #111;
  font-size: 22px;
}
h3 {
  color: #a9a9a9;
  font-size: 15px;
}
h4 {
  font-family: "Minecraftia";
  font-size: 22px;
}
h5 {
  color: #111;
  font-size: 17px;
}
h6 {
  color: #111;
  font-size: 20px;
}
p {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  color: #1f1f1f;
}
* {
  margin: 0;
  padding: 0;
}

/* Core Classes */
body {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  color: #1f1f1f;
  background-color: #111111;
}

input {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
  display: none !important;
}

.shown {
  display: block;
}

.inline {
  display: inline;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.unavailable {
  cursor: not-allowed;
}

.pointer {
  cursor: pointer;
}

a:visited {
  color: #0200ec;
}

.noTextDecoration {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.notBold {
  font-weight: normal;
}

.regularFlex {
  display: flex;
}

.wrappedFlex {
  display: flex;
  flex-wrap: wrap;
}

.gappedFlex {
  gap: 24px;
}

.evenFlex {
  flex: 1;
}

.doubleFlex {
  flex: 2 !important;
}

.shadow {
  margin: 12px 0px 0px 12px;
  border-radius: 15px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s;
}

.shadow:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

p img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

li i,
a i {
  font-size: 17px;
}

h2 i {
  font-size: 17px;
}

.hoverOpacity {
  transition: opacity 0.2s;
}

.hoverOpacity:hover {
  opacity: 0.6;
}

/* Minecraft Colors */
.darkBlue {
  color: #0000aa;
}
.darkBlueBackground {
  background-color: #0000aa !important;
}
.darkGreen {
  color: #00aa00;
}
.darkGreenBackground {
  background-color: #00aa00 !important;
}
.darkGreenBorder {
  border-color: #00aa00 !important;
}
.darkAqua {
  color: #00aaaa;
}
.darkAquaBackground {
  background-color: #00aaaa !important;
}
.darkAquaBorder {
  border-color: #00aaaa !important;
}
.darkRed {
  color: #aa0000;
}
.darkRedBackground {
  background-color: #aa0000 !important;
}
.darkPurple {
  color: #aa00aa;
}
.darkPurpleBackground {
  background-color: #aa00aa !important;
}
.gold {
  color: #ffaa00;
}
.goldBackground {
  background-color: #ffaa00 !important;
}
.goldBorder {
  border-color: #ffaa00 !important;
}
.gray {
  color: #aaaaaa;
}
.grayBackground {
  background-color: #aaaaaa !important;
}
.grayBorder {
  border-color: #aaaaaa !important;
}
.darkGray {
  color: #555555;
}
.darkGrayBackground {
  background-color: #555555 !important;
}
.blue {
  color: #5555ff;
}
.blueBackground {
  background-color: #5555ff !important;
}
.green {
  color: #55ff55;
}
.greenBackground {
  background-color: #55ff55 !important;
}
.aqua {
  color: #55ffff;
}
.aquaBackground {
  background-color: #55ffff !important;
}
.red {
  color: #ff5555;
}
.redBackground {
  background-color: #ff5555 !important;
}
.redBorder {
  border-color: #ff5555 !important;
}
.lightPurple {
  color: #ff55ff;
}
.lightPurpleBackground {
  background-color: #ff55ff !important;
}
.yellow {
  color: #ffff55;
}
.yellowBackground {
  background-color: #ffff55 !important;
}
.white {
  color: #ffffff;
}
.whiteBackground {
  background-color: #ffffff !important;
}
.black {
  color: #000000;
}
.blackBackground {
  background-color: #000000 !important;
}

/* Misc Colors */
.orange {
  color: #f58c1b;
}
.orangeBackground {
  background-color: #f58c1b !important;
}
.orangeBorder {
  border-color: #f58c1b !important;
}
.emojiColor {
  color: #ffcd4c;
}
.brown {
  color: #cd7f32;
}
.brownBackground {
  background-color: #cd7f32 !important;
}
.brownBorder {
  border-color: #cd7f32 !important;
}

/*============================================================================*/
/* PRESTIGES
/*============================================================================*/

.bigPrestige {
  font-family: "Minecraftia";
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px #777;
}

.smallPrestige {
  font-family: "Minecraftia";
  font-size: 14px;
  font-weight: normal;
  text-shadow: 1px 1px #777;
}

.noShadow {
  text-shadow: none;
}

/*============================================================================*/
/* PATREON ELEMENTS
/*============================================================================*/

.supporterContainer {
  display: inline-block;
  position: relative;
  text-align: left;
  height: 37px;
  margin-bottom: -6px;
}

.supporterContainer .right {
  top: 50%;
  width: 171px;
  left: 100%;
  margin-left: 14px;
  line-height: 40px;
  transform: translate(0, -50%);
  padding: 0px 16px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  font-size: 14px;
  border-radius: 8px;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.supporterContainer .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
}

.supporterContainer .right i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.supporterContainer:hover .right {
  visibility: visible;
  opacity: 1;
}

.supporterEmoji {
  margin-top: 6px
}

.supporterTrophy {
  vertical-align: middle;
  display: inline;
  margin-left: 3px;
  margin-bottom: 1px;
}

/*============================================================================*/
/* TOOLTIP
/*============================================================================*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .itemText {
  visibility: hidden;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  left: 110%;
  opacity: 0;
  transition: 0.2s;
  font-weight: normal;
}

.tooltip .itemText::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.9) transparent transparent;
}

.tooltip:hover .itemText {
  visibility: visible;
  opacity: 1;
}

.tooltipMainText {
  font-size: 18px;
}

.tooltipSubText {
  color: #aaaaaa;
  font-size: 14px;
}

/*============================================================================*/
/* PROGRESS BAR
/*============================================================================*/

.bar {
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  background-color: #5555ff;
  width: 100%;
}

.barCurrent {
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  background-color: #00aaaa;
  overflow: visible;
}

.barText {
  font-weight: bold;
  margin-left: 15px;
  z-index: 3;
  white-space: nowrap;
}

.barContainer {
  width: 100%;
}

/*============================================================================*/
/* SEARCH
/*============================================================================*/

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 25px;
}

.searchTerm {
  width: 100%;
  border: 3px solid;
  border-right: none;
  border-radius: 10px 0 0 10px;
  padding: 4px 12px 6px 12px;
  height: 25px;
  outline: none;
  font-size: 16px;
}

.searchButton {
  width: 50px;
  height: 41px;
  border: 1px solid;
  text-align: center;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 14px;
}

.searchParent {
  display: inline-block;
  vertical-align: middle;
}

.searchParentHighlight {
  transform: scale(1.2);
  transition: 0.1s;
}

.searchParent:hover .searchParentHighlight {
  transform: scale(1.35);
}

/*============================================================================*/
/* MAIN ELEMENT
/*============================================================================*/

#main {
  padding-top: 80px;
  margin-left: 178px;
  margin-right: 12px;
  max-width: 1080px;
}

.mainElement {
  background-color: #fff;
  border-radius: 15px;
  background: rgba(256, 256, 256, 0.8);
  transition: border-radius 0.2s, box-shadow 0.2s;
}

.mainElementTransparent {
  background: rgb(36, 36, 36, 0.5) !important;
}

.mainText {
  padding: 16px;
}

/*============================================================================*/
/* MAIN HEADER
/*============================================================================*/

.mainHeader {
  border-radius: 15px 15px 0px 0px;
  padding: 12px 16px 12px 16px;
  line-height: 37px;
  position: relative;
}

#playerContainer {
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

#onlineStatusContainer {
  display: block;
  width: 60px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#onlineStatusDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

#onlineStatusHead {
  display: block;
  position: absolute;
  height: 40px;
  top: 0px;
  right: 0px;
  width: 40px;
  border-radius: 5px;
}

#onlineStatusDetails {
  margin: -15px 0px 0px 12px;
  padding: 27px 16px 12px 16px;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.2s;
}

.zeroHeight {
  opacity: 0;
  max-height: 15px;
  padding: 0px !important;
}

.block {
  min-width: 200px;
  flex: 25%;
}

/*============================================================================*/
/* GAME NAVIGATION
/*============================================================================*/

.navGames {
  display: flex;
  height: 73px;
}

.navGame {
  flex: 1;
  z-index: 0;
  line-height: 61px;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-blend-mode: multiply;
  transition: border-radius 0.2s, margin-bottom 0.2s, box-shadow 0.2s;
}

.navGame::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  transition: inherit;
  overflow: hidden;
}

.navGame:last-child {
  margin-right: 0px;
}

.navGameName {
  left: 16px;
  position: absolute;
  flex: 2;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

.navGameIcon {
  right: 16px;
  position: absolute;
  flex: 1;
  width: 40px;
  height: 40px;
  margin-top: 11px;
}

.navGameSelected {
  margin-bottom: -12px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 4px -2px 6px rgba(0, 0, 0, 0.25) !important;
}

.navGameSelectedTarget {
  margin-top: 12px !important;
}

.navGameSelectedTargetLeft {
  border-radius: 0px 15px 15px 15px;
}

.navGameSelectedTargetRight {
  border-radius: 15px 0px 15px 15px;
}

/*============================================================================*/
/* MEDIA QUERIES
/*============================================================================*/

@media only screen and (max-width: 560px) {
  .hideOnMobile,
  .navGameName {
    display: none;
  }
  .navGameIcon {
    position: absolute;
    right: 50%;
    margin-right: -20px;
    left: 50%;
    margin-left: -20px;
  }
  .supporterContainer .right {
    display: none;
  }
}
@media only screen and (min-width: 561px) and (max-width: 1030px) {
  .navGameIcon {
    display: none;
  }
}
